@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1400px;
  margin: 20px auto;
  columns: 3;
  column-gap: 20px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.image {
  max-width: 100%;
  height: auto;
}

.small {
  width: 300px;
  grid-column: span 2
}

.medium {
  width: 400px;
  grid-row: span 2
}

.large {
  width: 500px;
  grid-column: span 2;
  grid-row: span 2
}
